/*
  Name: Bryan Oliveira
  Date: June 11th, 2025

  Description: This is the credit-styles.css file for my injury equipment e-commerce website.
  It serves as the stylesheet for the image credits for all the images used as product images.
*/

table {
  border: 2px solid var(--secondary-color);
  margin: 1rem;
  width: 80vw;
  border-collapse: collapse;
  text-align: center;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

tbody td, th {
  border: 1px solid var(--secondary-color);
  padding: 0;
}

table img, table video {
  max-width: 300px;
  max-height: 200px;
}

a {
  color: var(--accent-color);
  transition: .2s;
}