/* 
  Name: Bryan Oliveira
  Date: May 2nd, 2025

  Description: This is the projects-styles.css file for the projects page of my 
  portfolio website. It serves as an auxiliary stylesheet, defining the layout
  and design of the project page's grid layout.
*/

:root {
  --text-color:       white;
  --bg-color:         #3a3a3a;
  --nav-bg:           #1e1e1e;
  --link-hover-bg:    #333;
  --hover-color:      #a6e2f6;
  --tag-bg:           #84b9d8;
  --tag-hover:        #333;
}

[data-theme='light'] {
  --text-color:       #222;
  --bg-color:         #fff;
  --nav-bg:           #f1f1f1;
  --link-hover-bg:    #e0e0e0;
  --hover-color:      #0077cc;
  --tag-bg:           #5d9ecc;
  --tag-hover:        #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 1em;
}

.top-line ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  background-color: var(--link-hover-bg);
  color: var(--text-color);
  padding: 1em .5em 1em .5em;
  width: 40%;
  border-radius: 5px;
}

.top-line li {
  cursor: pointer;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, auto));
  column-gap: 2em;
  row-gap: 0;
  width: 90%;
  background-color: var(--nav-bg);
  padding: 2em;
  margin-bottom: 2%;
}

.project-card {
  background-color: var(--link-hover-bg);
  border-radius: 10px;
  max-height: fit-content;
  padding-bottom: 1em;
}

.project-card h2, p{
  margin: 10px 15px;
}

.filter-tags {
  list-style-type: none;
  display: flex;
  gap: 1em;
  margin: 0 20px;
  padding: 0;
  flex-wrap: wrap;
}

.filter-tags li {
  background-color: var(--tag-bg);
  padding: .2em .5em;
  border-radius: 8px;
}

.filter-tags li:hover {
  color: var(--tag-hover);
}


img {
  width: 100%;  
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}